handler: lambdas/hello-world/index.handler
name: hello-world
# customize as needed to connect your lambda function to layers
layers:
  - { Ref: ApiLayerLambdaLayer }
package:
  include:
    - lambdas/hello-world/index.js
    - lambdas/hello-world/node_modules/**
events:
  - http:
      method: get
      path: hello
      cors: true
      # custom fields allowing you to describe your endpoint in order to automatically document it
      kaskadi-docs:
        description: hello world placeholder endpoint # describe what this endpoint is used for
        # this field helps you describe any query string parameter accepted by this endpoint
        queryStringParameters:
          - key: key1
            description: first key
          - key: key2
            description: second key
            default: 35 # you can give a default value
        # this field helps you describe the body expected by your endpoint
        body:
          - key: param1
            description: first body param
            default: 'hello'
          - key: param2
            description: second body param
            default: true
